.button {
  -fx-text-fill: #f4c933;
  -fx-background-color: linear-gradient(to bottom, #753b64 0%, #623e66 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -fx-border-radius: 0;
  -fx-font-weight: bold;
}

.combo-box {
  -fx-text-fill: #f4c933;
  -fx-background-color: linear-gradient(to bottom, #753b64 0%, #623e66 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -fx-border-radius: 0;
  -fx-font-weight: bold;
}

.combo-box-base {
  -fx-text-fill: #f4c933;
  -fx-background-color: linear-gradient(to bottom, #753b64 0%, #623e66 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -fx-border-radius: 0;
  -fx-font-weight: bold;
}

#startView {
  -fx-background-image: url("imhotep.png");
  -fx-background-repeat: stretch;
  -fx-background-size: 720 480;
  -fx-border-width: 5;
}

#appView{
  -fx-background-image: url("appView.png");
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
}

#mainroot {
  -fx-background-image: url("stoneback.png");
  -fx-background-repeat: stretch;
  -fx-background-size: 1235 730;
  -fx-border-width: 5;
  -fx-padding: 5 15 15 15;
}

.tab {
  -fx-border-radius: 0;
  -fx-background-color: linear-gradient(to bottom, #753b64 0%, #623e66 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -fx-background-size: stretch;
  -fx-background-insets: 0 1 0 1, 0, 0;

}

.tab-pane .tab-header-area .tab-header-background {
  -fx-opacity: 0;
}

.tab-pane .tab:selected {
  -fx-background-color: #3c3c3c;
}

.tab .tab-label {
  -fx-text-fill: #f4c933;
}

.tab-pane {
  -fx-tab-min-width: 60px;
}

.nav {
  -webkit-fx-padding: 5 5 5 5;
  -moz-fx-padding: 5 5 5 5;
  -ms-fx-padding: 5 5 5 5;
  -o-fx-padding: 5 5 5 5;
  fx-padding: 5 5 5 5;;
}

#msg {
  -fx-opacity: 0.5;
}

#logout-button {
  -fx-background-image: url('logout.png');
  -fx-background-size: 20px 20px;
  -fx-pref-width: 25px;
  -fx-pref-height: 20px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.table-view:focused {
  -fx-background-color: transparent, -fx-box-border, -fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
  /*....*/
  -fx-padding: 1; /* 0.083333em; */
}

.dialog {
  -fx-background-image: url("imhotep.png");
  -fx-background-repeat: stretch;
  -fx-background-size: 720 480;
  -fx-border-width: 5;
}

#background {
  -fx-background-image: url("back.png");
  -fx-background-repeat: stretch;
  -fx-background-size: 100% 100%;
  -fx-background-position: center center;
}

#haven {
  -fx-background-repeat: stretch;
  -fx-background-size: 100% 100%;
  -fx-background-image: url("hafen.png");
}

#docks {
  -fx-background-repeat: stretch;
  -fx-background-size: 100% 100%;
  -fx-background-image: url("dock.png");
}

#house {
  -fx-background-repeat: stretch;
  -fx-background-size: 100% 100%;
  -fx-background-image: url("haus.png");
}

#gameLog{
  -fx-background-color: #fff;
  -fx-border-color: #753b64;
  -fx-text-fill: #623e66;
}

#ship{
  -fx-background-image: url("boot4.png");
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
}

#ship1{
  -fx-background-image: url("boot1.png");
  -fx-background-size: 80% 80%;
  -fx-background-repeat: stretch;
}

#ship2{
  -fx-background-image: url("boot2.png");
  -fx-background-size: 85% 85%;
  -fx-background-repeat: stretch;

}


#ship3{
  -fx-background-image: url("boot3.png");
  -fx-background-size: 90% 90%;
  -fx-background-repeat: stretch;
}

#ship4{
  -fx-background-image: url("boot4.png");
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
}

#stonegrid{
  -fx-background-image: url("chat.png");
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
}

#cardstack{
  -fx-background-image: url("cardstack.png");
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
}

.site{
  -fx-background-size: 100% 100%;
  -fx-background-repeat: stretch;
}

#BurialChamber{
  -fx-background-image: url("grabkammer.png");
}

#Pyramids{
  -fx-background-image: url("pyramide.png");
}

#Market{
  -fx-background-image: url("marketplace.png");
}

#Temple{
  -fx-background-image: url("temple.png");
}

#Obelisks{
  -fx-background-image: url("obelisk.png");
}


#blue{
  -fx-background-color: darkblue;
}

#green{
  -fx-background-color: darkgreen;
}

#yellow{
  -fx-background-color: lightcoral;
}

#red{
  -fx-background-color: darkred;
}