.button{
    -fx-text-fill: #f4c933;
    -fx-background-color: linear-gradient(to bottom, #753b64 0%,#623e66 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -fx-border-radius: 0;
    -fx-font-weight: bold;

}



#loginroot{
    -fx-background-image: url("imhotep.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 720 480;
    -fx-border-width:5;
}

#regroot{
    -fx-background-image: url("imhotep.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 720 480;
    -fx-border-width:5;
}

#menuroot{
    -fx-background-image: url("chat.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 720 480;
    -fx-border-width:5;
    -fx-padding: 5 15 15 15;
}

.tab{
    -fx-border-radius: 0;
    -fx-background-image: url("button.png");
    -fx-background-size: stretch;
    -fx-border-insets: 5;
    -fx-border-color: burlywood;
}

.tab-pane{
}

.nav{
    -webkit-fx-padding: 5 5 5 5;
    -moz-fx-padding: 5 5 5 5;
    -ms-fx-padding: 5 5 5 5;
    -o-fx-padding: 5 5 5 5;
    fx-padding: 5 5 5 5;;
}